html {
    background-color: #242424;
}

body {
    text-align: center;
}

* {
    color: #B1B1A8;
    font-family: 'Courier New', Courier, monospace;
}

.tag {
    color: #559EB4;
}

.string {
    color: #DC8A63;
}

a {
    margin-bottom: 4px;
    display: block;
    text-decoration-color: #b1b1a87a;
}