<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS</title>

    <link rel="stylesheet" href="/style.css">
    <script defer src="/main.js"></script>
</head>

<body>
    <h1 class="tag">Comidas deliciosas</h1>

    <ul>
        <% for(const item of foods){ %>
            <li>
                <%- item %>
            </li>
        <% } %>
    </ul>

    <form id="image-form" action="/addImage" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Enviar</button>
    </form>
</body>

</html>