html {
    background-color: #242424;
}

body {
    text-align: center;
}

* {
    color: #B1B1A8;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.tag {
    color: #559EB4;
}

.string {
    color: #DC8A63;
}